main {
  padding: 0;
}

#user-settings {
  height: 7vh;
}

#user-settings .menu-btn {
  background: url("./assets/gear-thin.svg");
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
  margin-right: -1%;
}

.user-pic {
  overflow: hidden;
  border: 2px solid rgba(172, 172, 204, 0.3);
  border-radius: 50%;
  padding: 0;
  width: 4.5em;
  height: 4.5em;
}

img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  margin: 0;
  padding: 0;
}

/* User info is the whole top container*/

.user-info {
  background-color: rgba(230, 230, 230, 0.1);
  background-image: ur;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 50vh;
  min-height: 300px;
  min-width: 100%;

  text-align: center;
  justify-content: space-between;
}

.user-info h3 {
  text-align: center;
  display: inline;
}

.user-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* background-color: rgba(190, 190, 190, 0.3); */
  width: 100%;
  justify-content: space-around;
  /* padding-left: 5%; */
}

.user-stats span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 30%;
}

.user-stats span * {
  text-align: center;
}

.btn {
  margin: 20px;
  padding: 10px 50px;
  text-align: center;
}
/* 
#about-sect nav {
  width: 100%;
  height: 20px;
  display: flex;
  text-align: center;
}

#about-sect nav label {
  position: relative;
  border-right: none;
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#about-sect nav label span {
  position: absolute;
  top: 0;
  border-bottom: 2px solid var(--light-blue);
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}
#about-sect nav label:nth-child(4) span {
  transform: translateX(-100%);
}
#about-sect nav label:nth-child(2) span {
  transform: translateX(100%);
}

#about-sect nav input {
  display: none;
}

#about-sect nav input:checked + label {
  background: rgba(170, 170, 170, 0.1);
}

#about-sect nav input:checked + label span {
  transform: translateX(0);
} */

#about-sect .desc {
  max-height: 300px;
  margin-top: 20px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 1em;
  line-height: 0.8em;
  padding: 0 10px;
  transition: max-height 2s ease-out;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-sect .desc.close {
  max-height: calc(0.8em * 4);
}

/* For the message feed */
#about-sect .user-pic {
  width: 2em;
  height: 2em;
}

#messages-cont {
  text-align: center;
}

.send-message-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  padding: 5px 6%;
}

#messages-cont .send-message-cont .user-pic {
  width: 2.5em;
  height: 2.5em;
  margin-right: 10px;
}

#messages-cont .send-message-cont textarea {
  height: 70px;
  padding: 15px 10px;
  overflow: visible;
  background: rgb(230, 230, 230);
  border-radius: 5px;
  font-family: Poppins;
  outline: none;
  overflow: auto;
}

#messages-cont .send-message-cont textarea:focus {
  background: rgb(192, 192, 192);
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
}

.message {
  padding: 0 10px 10px;
  margin: 20px 0;
  background: rgb(230, 230, 230);
  text-align: left;
  max-height: fit-content;
  border-radius: 5px;
}

.message-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid rgba(172, 172, 204, 0.83); */
  height: 3em;
}

.message-header .message-header-details {
  margin-left: 10px;
  align-self: center;
}

.message-header .message-options {
  position: absolute;
  top: 50%;
  right: 0;
  height: 1em;
  width: 1em;
  align-self: center;
  transform: translate(-50%, -50%);
  background: url("./assets/menu-dot-vertical-thin.svg");

  background-repeat: no-repeat;
  background-position: center;
}

.message-header .message-header-details h3 {
  margin: 0;
  font-size: 0.75em;
}

.message-header .message-header-details h5 {
  font-size: 0.55em;
}

.message .message-text {
  flex: 25;
  font-size: 1em;
  text-transform: capitalize;
  margin-top: 10px;
  min-height: 40px;
  border: none;
  outline: none;
  opacity: 1;
  padding-top: 5px;
  padding-left: 5px;
}

.message-text {
  overflow: hidden;
}

.message-text.close {
  position: relative;
  max-height: calc(1em * 10);
}

.message-text.close::after {
  content: "See More...";
  position: absolute;
  bottom: -4px;
  right: 0;
  font-size: 0.77em;
  font-weight: 400;
  padding-left: 100px;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.2) 5%,
    rgb(230, 230, 230) 60%
  );
}

.reply {
  margin-top: 20px;
  padding-left: 4px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.reply .reply-text {
  margin: auto;
  flex: 8;
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding-left: 10px;
}

.reply .reply-text p {
  margin: 0;
  padding-right: 10px;
}

.reply .reply-text .top {
  margin: 0;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.reply .reply-text .top .reply-name h3 {
  margin: 0;
  font-weight: 700;
}

.reply .reply-text .top {
  display: flex;
}

.none {
  display: none;
}

.reply .reply-text .reply-details {
  display: flex;
  font-size: 0.8em;
}

.reply .reply-text .reply-details h5 {
  margin-left: 5px;
}
